@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1>@ViewData["Title"]</h1>
<p>Joel Hilton is a film enthusiast and podcaster. You can learn more about him at the following links:</p>
<ul>
    <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/"><img src="~/img/BaconsaleKate.jpg" alt="Baconsale" /></a></li>
    <li><a href="https://baconsale.com/">Baconsale</a></li>
</ul>