@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Hobby: Facebook Marketplace</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/hobby1.png" class="img-fluid rounded mb-3" alt="Hobby Image 1">
            <p>These are my two babies. Both white, both 2007, both 5 series. I love them.</p>
        </div>
        <div class="col-md-6">
            <img src="~/images/hobby2.png" class="img-fluid rounded mb-3" alt="Hobby Image 2">
            <p>I found an engine block, I found a glass panel, I made a glass table.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <p>Currently I'm trying to trade on of the BMWs for a motorcycle. Wish me luck.</p>
        </div>
    </div>
</div>